
<form action="/" method="get">
    <button type="submit"> Home</button>
</form>

<form action="/lista" method="get">
    <button type="submit"> Lista</button>
</form>

<form action="/contactos" method="get">
    <button type="submit"> contactos</button>
</form>