<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

    
<body>
   
    <%- include("partials/header") %>

    <h1>Home</h1>  

    <form id="compras">
        <label for="produto">Produto</label>
        <input type="text" name="produto" id="produto" value="<%= user.produto %>">
        <label for="quantidade"> Quantidade</label>
        <input type="text" name="quantidade" id="quantidade" value="<%= user.quantidade %>">
    </form>
       
    
</body>
</html>